In [1]:
import pandas as pd
import numpy as np

In [2]:
CRS = pd.read_csv('./Expression_Profile.GCF_000004515.5_Glycine_max_v2.1.gene.txt/Expression_Profile.GCF_000004515.5_Glycine_max_v2.1.gene.txt',sep='\t')

In [3]:
c_samples = list(CRS.columns[307:])

In [4]:
c_gene_info = list(CRS.columns[3:4])

In [5]:
CRS_matrix = CRS[c_gene_info+c_samples]

In [6]:
m = ['CRS-01' in x for x in CRS_matrix.columns]
CRS_matrix.columns[m]

Index(['CRS-01_10-1_FPKM', 'CRS-01_10-2_FPKM', 'CRS-01_10-3_FPKM',
       'CRS-01_30-1_FPKM', 'CRS-01_30-2_FPKM', 'CRS-01_30-6_FPKM'],
      dtype='object')

In [7]:
set(CRS.Type)

{'lncRNA',
 'miRNA',
 'misc_RNA',
 'ncRNA',
 'protein_coding',
 'pseudogene',
 'rRNA',
 'snRNA',
 'snoRNA',
 'tRNA',
 'transcribed_pseudogene'}

In [8]:
CRS_matrix.head()

,Entrez_Gene_ID,CRS-01_10-1_FPKM,CRS-01_10-2_FPKM,CRS-01_10-3_FPKM,CRS-01_30-1_FPKM,CRS-01_30-2_FPKM,CRS-01_30-6_FPKM,CRS-02_10-1_FPKM,CRS-02_10-2_FPKM,CRS-02_10-3_FPKM,...,CRS-49_10-4_FPKM,CRS-49_30-2_FPKM,CRS-49_30-3_FPKM,CRS-49_30-4_FPKM,CRS-50_10-1_FPKM,CRS-50_10-2_FPKM,CRS-50_10-3_FPKM,CRS-50_30-1_FPKM,CRS-50_30-2_FPKM,CRS-50_30-3_FPKM
0,100808170,3.920445,5.197977,5.445895,4.859622,5.905949,7.315620,3.995833,4.932955,3.119707,...,5.534307,3.009386,1.783167,4.026562,6.742829,4.677098,7.010818,2.166070,2.546580,1.970365
1,102661143,7.578906,10.395123,10.499541,6.297181,4.892256,5.654877,9.323695,11.199708,1.303040,...,3.170619,5.480105,3.784017,6.574545,12.218089,7.276145,7.505838,3.062244,3.334228,2.542731
2,106794262,1.104738,0.896882,1.156102,0.000000,0.000000,0.000000,1.281969,3.066288,0.000000,...,0.000000,0.525571,0.000000,0.979970,2.371379,1.985493,1.527590,0.000000,0.747874,0.000000
3,100781438,10.155200,11.543542,9.165783,3.157712,2.967917,3.049655,9.983507,9.068295,4.626168,...,5.563824,5.628086,4.383134,9.617360,7.199364,8.642675,7.265250,4.675867,5.098759,4.789248
4,100788220,4.650396,5.251757,4.374281,1.313011,1.552204,2.272427,4.199954,3.513377,2.667574,...,3.169195,2.772409,2.802452,4.546339,4.392777,4.263134,4.063829,3.598898,2.951499,2.439069

In [23]:
CRS_matrix.columns[209:]

Index(['CRS-35_30-3_FPKM', 'CRS-35_35-4_FPKM', 'CRS-36_10-1_FPKM',
       'CRS-36_10-2_FPKM', 'CRS-36_10-3_FPKM', 'CRS-36_30-1_FPKM',
       'CRS-36_30-2_FPKM', 'CRS-36_30-4_FPKM', 'CRS-37_10-1_FPKM',
       'CRS-37_10-2_FPKM', 'CRS-37_10-3_FPKM', 'CRS-37_30-1_FPKM',
       'CRS-37_30-2_FPKM', 'CRS-37_30-4_FPKM', 'CRS-38_10-2_FPKM',
       'CRS-38_10-4_FPKM', 'CRS-38_10-5_FPKM', 'CRS-38_30-1_FPKM',
       'CRS-38_30-2_FPKM', 'CRS-38_30-3_FPKM', 'CRS-39_10-1_FPKM',
       'CRS-39_10-2_FPKM', 'CRS-39_10-6_FPKM', 'CRS-39_30-3_FPKM',
       'CRS-39_30-4_FPKM', 'CRS-39_30-6_FPKM', 'CRS-40_10-2_FPKM',
       'CRS-40_10-3_FPKM', 'CRS-40_10-5_FPKM', 'CRS-40_30-1_FPKM',
       'CRS-40_30-2_FPKM', 'CRS-40_30-3_FPKM', 'CRS-41_10-1_FPKM',
       'CRS-41_10-2_FPKM', 'CRS-41_10-3_FPKM', 'CRS-41_30-1_FPKM',
       'CRS-41_30-4_FPKM', 'CRS-41_30-5_FPKM', 'CRS-42_10-1_FPKM',
       'CRS-42_10-2_FPKM', 'CRS-42_10-3_FPKM', 'CRS-42_30-1_FPKM',
       'CRS-42_30-2_FPKM', 'CRS-42_30-3_FPKM', 'CRS-43_10-1_FPKM',
       'CRS-43_10-2_FPKM', 'CRS-43_10-3_FPKM', 'CRS-43_30-1_FPKM',
       'CRS-43_30-2_FPKM', 'CRS-43_30-3_FPKM', 'CRS-44_10-1_FPKM',
       'CRS-44_10-2_FPKM', 'CRS-44_10-3_FPKM', 'CRS-44_30-1_FPKM',
       'CRS-44_30-2_FPKM', 'CRS-44_30-6_FPKM', 'CRS-45_10-1_FPKM',
       'CRS-45_10-2_FPKM', 'CRS-45_10-3_FPKM', 'CRS-45_30-1_FPKM',
       'CRS-45_30-2_FPKM', 'CRS-45_30-4_FPKM', 'CRS-46_10-4_FPKM',
       'CRS-46_10-5_FPKM', 'CRS-46_10-6_FPKM', 'CRS-46_30-1_FPKM',
       'CRS-46_30-5_FPKM', 'CRS-46_30-6_FPKM', 'CRS-47_10-1_FPKM',
       'CRS-47_10-2_FPKM', 'CRS-47_10-3_FPKM', 'CRS-47_30-1_FPKM',
       'CRS-47_30-3_FPKM', 'CRS-47_30-4_FPKM', 'CRS-48_10-1_FPKM',
       'CRS-48_10-2_FPKM', 'CRS-48_10-3_FPKM', 'CRS-48_30-1_FPKM',
       'CRS-48_30-2_FPKM', 'CRS-48_30-5_FPKM', 'CRS-49_10-2_FPKM',
       'CRS-49_10-3_FPKM', 'CRS-49_10-4_FPKM', 'CRS-49_30-2_FPKM',
       'CRS-49_30-3_FPKM', 'CRS-49_30-4_FPKM', 'CRS-50_10-1_FPKM',
       'CRS-50_10-2_FPKM', 'CRS-50_10-3_FPKM', 'CRS-50_30-1_FPKM',
       'CRS-50_30-2_FPKM', 'CRS-50_30-3_FPKM'],
      dtype='object')

In [9]:
sample_info = CRS_matrix.columns[1:].tolist()

In [10]:
data = [x.split('_') for x in sample_info]

In [12]:
sample_info_mat = pd.DataFrame(data)

In [13]:
sample_info_mat['3'] = sample_info_mat.apply(lambda x : x[1].split('-')[0], axis=1)

In [14]:
sample_info_mat['4'] = sample_info_mat.apply(lambda x : x[1].split('-')[1], axis=1)

In [15]:
sample_mat = sample_info_mat[sample_info_mat.columns[[0,3,4]]]

In [16]:
sample_mat.columns = ['cultivar','stage','repeat']

In [17]:
sample_mat

    cultivar stage repeat
0     CRS-01    10      1
1     CRS-01    10      2
2     CRS-01    10      3
3     CRS-01    30      1
4     CRS-01    30      2
..       ...   ...    ...
295   CRS-50    10      2
296   CRS-50    10      3
297   CRS-50    30      1
298   CRS-50    30      2
299   CRS-50    30      3

[300 rows x 3 columns]

In [20]:
m = sample_mat['stage'] == '35'

In [21]:
sample_mat[m]

    cultivar stage repeat
209   CRS-35    35      4

In [18]:
CRS_matrix.head()

,Entrez_Gene_ID,CRS-01_10-1_FPKM,CRS-01_10-2_FPKM,CRS-01_10-3_FPKM,CRS-01_30-1_FPKM,CRS-01_30-2_FPKM,CRS-01_30-6_FPKM,CRS-02_10-1_FPKM,CRS-02_10-2_FPKM,CRS-02_10-3_FPKM,...,CRS-49_10-4_FPKM,CRS-49_30-2_FPKM,CRS-49_30-3_FPKM,CRS-49_30-4_FPKM,CRS-50_10-1_FPKM,CRS-50_10-2_FPKM,CRS-50_10-3_FPKM,CRS-50_30-1_FPKM,CRS-50_30-2_FPKM,CRS-50_30-3_FPKM
0,100808170,3.920445,5.197977,5.445895,4.859622,5.905949,7.315620,3.995833,4.932955,3.119707,...,5.534307,3.009386,1.783167,4.026562,6.742829,4.677098,7.010818,2.166070,2.546580,1.970365
1,102661143,7.578906,10.395123,10.499541,6.297181,4.892256,5.654877,9.323695,11.199708,1.303040,...,3.170619,5.480105,3.784017,6.574545,12.218089,7.276145,7.505838,3.062244,3.334228,2.542731
2,106794262,1.104738,0.896882,1.156102,0.000000,0.000000,0.000000,1.281969,3.066288,0.000000,...,0.000000,0.525571,0.000000,0.979970,2.371379,1.985493,1.527590,0.000000,0.747874,0.000000
3,100781438,10.155200,11.543542,9.165783,3.157712,2.967917,3.049655,9.983507,9.068295,4.626168,...,5.563824,5.628086,4.383134,9.617360,7.199364,8.642675,7.265250,4.675867,5.098759,4.789248
4,100788220,4.650396,5.251757,4.374281,1.313011,1.552204,2.272427,4.199954,3.513377,2.667574,...,3.169195,2.772409,2.802452,4.546339,4.392777,4.263134,4.063829,3.598898,2.951499,2.439069

In [19]:
CRS_matrix[CRS_matrix.columns[1:]].to_csv('./test.csv', index=False)
tpm_list = pd.read_csv('./test.csv', sep=';', header=None)
tpm_list_fix = tpm_list.loc[1:,:]
tpm_list_fix.columns = ['Tpm']
tpm_list_fix.index = CRS_matrix['Entrez_Gene_ID']

In [20]:
tpm_list_fix.head()

                                                              Tpm
Entrez_Gene_ID
100808170       3.9204449999999995,5.197977,5.445895,4.859622,...
102661143       7.578906,10.395123,10.499541,6.297181,4.892256...
106794262       1.104738,0.896882,1.156102,0.0,0.0,0.0,1.28196...
100781438       10.1552,11.543542,9.165783,3.157712,2.967917,3...
100788220       4.650396,5.251757,4.374281,1.3130110000000002,...

In [21]:
tpm_list_fix['id'] = range(tpm_list_fix.shape[0])

C:\Users\BIezz\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
tpm_list_fix.reset_index().set_index('id').to_csv('./csv_file/tpm_list.csv')

In [29]:
sample_mat_id = sample_mat.reset_index()

In [30]:
sample_mat_id

     index cultivar stage repeat
0        0   CRS-01    10      1
1        1   CRS-01    10      2
2        2   CRS-01    10      3
3        3   CRS-01    30      1
4        4   CRS-01    30      2
..     ...      ...   ...    ...
295    295   CRS-50    10      2
296    296   CRS-50    10      3
297    297   CRS-50    30      1
298    298   CRS-50    30      2
299    299   CRS-50    30      3

[300 rows x 4 columns]

In [33]:
sample_mat_id.columns = ['id'] + sample_mat_id.columns[1:].tolist()

In [32]:
sample_mat_id.columns[1:]

Index(['cultivar', 'stage', 'repeat'], dtype='object')

In [35]:
sample_mat_id.to_csv('./csv_file/sample_info.csv',index=False)